
@{
    ViewBag.Title = "Image1";
    Layout = "~/Views/Shared/userView/home.cshtml";
}
<head>
    <title>Muscle Building</title>
    <style type="text/css">
        #img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 60%;
        }
    </style>
</head>
<body>
    <img id="img" src="Capture1.JPG">
</body>

