<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/util.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
